---
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import Section from "../Section.astro";
import Folder from "@/icons/Folder.astro";

import { projects } from "@cv";

dayjs.extend(duration);
---

<Section className={Astro.props.className} title="チーム開発経験">
  <div class="grid grid-cols-1 gap-3 print:flex print:flex-col">
    {
      projects.map(({ description, organization, workStyle, startDate, endDate, highlights, name }, index) => {
        const startMonth = dayjs(startDate).format("YYYY/MM");
        const endMonth = dayjs(endDate).format("YYYY/MM");
        const duration = dayjs.duration(dayjs(endDate).diff(dayjs(startDate)));
        const period = (duration.years() ? `${duration.years()}年` : "") + (duration.months() + 1) + "ヶ月";

        return (
          <div role="contentinfo" class="grid-span-1 relative flex flex-col rounded-md bg-skin-button-muted/50 p-5 shadow-sm ring-1 ring-skin-muted">
            <div class="flex items-center justify-between space-x-[10px]">
              <div class="flex items-center gap-2">
                <Folder />
                <div class="flex items-center gap-[6px]">
                  <span>
                    {index + 1}. {name}
                  </span>
                </div>
              </div>
            </div>
            <p class="py-3 text-sm text-skin-base">{description}</p>
            <ul class="mt-1 text-sm text-skin-muted">
              {highlights.map((highlight) => {
                return <li>{highlight}</li>;
              })}
            </ul>
            <p class="pt-3 text-sm text-skin-muted">
              {organization} | {workStyle}
            </p>
            <p class="pb-3 pt-1 text-sm text-skin-muted">
              <time datetime={startDate} data-title={startDate}>
                {startMonth}
              </time>
              <span>-</span>
              <time datetime={endDate} data-title={endDate}>
                {endMonth}
              </time>
              <span> : {period}</span>
            </p>
          </div>
        );
      })
    }
  </div>
</Section>

<style>
  ul {
    @apply ml-4 list-disc space-y-1;
    li {
      @apply text-skin-muted;
    }
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }
</style>
